.details-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.product-holder {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 4px 5px 5px #999;
  width: 700px;
  height: 450px;
}
.product-holder > div:first-of-type {
  padding: 10px;
  margin-bottom: 2rem;
}
.product-info > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 1rem;
}
.desc-product {
  display: flex;
}
