.done {
  background-color: green;
  width: fit-content;
  padding: 5px 20px;
  color: #fff;
  border-radius: 10px;
  font-weight: bold;
}
.td-done {
  display: flex;
  justify-content: center;
  align-items: center;
}
.done-p {
  background-color: green;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  margin: 0;
}
.search-box {
  width: 100%;
  padding: 10px;
  padding-top: 0;
  margin-top: 0;
}
.search-box input {
  width: 100%;
}
.done-orders .details {
  width: 90%;
  margin-top: 1rem;
}
.done_orders_details {
  width: 90%;
  margin-top: 1rem;
}
